<div class="login flexed flexed-center full-height">
  <form class="login-form container flexed-column flexed" action="cambiarVal()">
    <div class="flexed login-header relative bg-darkgreen">
      <label class="flexed-selfcenter">Login</label>
      <img class="login-img" src="https://cdn.freebiesupply.com/logos/large/2x/codepen-icon-logo-svg-vector.svg" alt="Logo">
    </div>
    <div class="container">
      <div class="flexed">
        <input class="input mtop-1" type="text" name="username" placeholder="Enter username" required="">
      </div>
      <div class="flexed">
        <input class="input" type="password" name="password" placeholder="Enter password" required="">
      </div>
      <div class="flexed flexed-end actions mbottom-1 relative">
        <input class="btn bg-darkgreen" type="submit" value="Login">  
        <button (click)="enombre()" >Entrar</button>    
      </div>    
    </div>
  </form>
</div>